
#title {

    background-color: rgb(95, 95, 95) ;
}

#subtitle {
    background-color: rgb(95, 95, 95) ;

}

.container-fluid {
    padding: 3% 15%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}

h2{
    font-family: "Montserrat";
    font-size: 1.5;
    font-weight: bold;
    text-align: center;
}
h3{
    font-family: 'Montserrat';
    font-weight: bold;

}

a{
    color: #fff;
}

p{
    color: #8f8f8f;
}

.navbar {
    padding: 0 0 4.5rem;
    color:#fff
}

.navbar-brand {

    font-family: 'ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.nav-item {
    padding: 0 18px;
}

.navbar-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.download-button {

    margin: 5% 3% 5% 0;

}

.title-image{

    width: 60%;
    transform:rotate(20deg);
    position: absolute;
}


#features {
    padding: 7% 15%;
background-color: #fff;
position: relative;
z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%;
   background-color: #fff;
}


.icon {
    color: #000;
    margin-bottom: 1rem;
}

.icon:hover{
    color:blue;
}

#testimonials{

    
    text-align: center;
    background-color: #899292 ;
    color: #ffff;
}

.carousel-item{
    padding: 7% 15%
}

.testimonial-image{
    width: 60%;
    border-radius: 60%;
    margin: 60px;
    text-align: center;


}

#press{
    background-color: #1e1f1f;
    text-align: center;
}

.press-logo {
    width: 10%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-header{
    color: #000;
}

.pricing-column{
    padding: 3% 2%;
}

#cta{
    background-color: #858d8e;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading{
    font-family: 'Montseerrat';
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer{
    padding: 7% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
}

@media (max-width: 1028px){

    #title{
        text-align: center;
    }
    .title-image{
        position:static;
        transform: rotate(20);
    }
}